body{
    background-image:url("../imagenes/fondo.jpg");
    background-size:  cover;
    background-attachment: fixed;
 
}
#body{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: solid white;
    max-width: 100%;    
    padding: 30px;
    margin: 90px;
    background: white;
}

#titulo{
    width: 100%;
    height: 150px;
    background-size:  cover;   
    color: black;
    text-align: center;
    font-size: 34px;
    font-family: 'forte', serif;
    border: solid black;
    padding: 3px;
}
#link{
    float:left;    
}
#imagen{
    border: solid rgb(224, 215, 215);
    float: right;
    padding: 20px;
    margin-top: 10px;
    background: rgb(151, 190, 176);
}

.temario{
    width: 50%;
    height: 55%;
    font-size: 20px; 
    text-align: justify;
    padding: 30px;
    margin-top: 10px;
    background: rgb(151, 190, 176);
    font-family: 'Rockwell Extra Bold', cursive;
}
.temario2{
    border: solid rgb(224, 215, 215);
    padding: 30px;  
    margin-top: 28px;
    font-size: 200%; 
    text-align: center;
    color: black;
    background: rgb(151, 190, 176);
    font-family: 'Lobster', cursive;
}
#menu{
    float: right;    
}
